  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
  
  body {
    background-image: linear-gradient(#ffffff, #d9d9d9);
  }
  
  #page-wrapper {
    min-height: 95%;
  }

  header {
    background-image: linear-gradient(#51d0de, #2eb3c2);
    border-bottom: 10px solid;
    border-color: #bf4aa8;
    margin-bottom: 16px;
  }
  
  footer {
    background-image: linear-gradient(#51d0de, #2eb3c2);
    color: white;
    text-align: center;
    border-top: 10px solid;
    border-color: #bf4aa8;
    height: 5%;
    overflow: none;
  }
  
  .nav-link {
    font-size: 26px;
    color:  #ebeeee;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .active {
    color: #bf4aa8;
  }
  
  h1 {
      color: #ffffff;
      text-align: center;
      padding-top: 13px;
      font-family: 'Archivo Black', sans-serif;
      font-size: 30px;
  }

  #page-wrapper {
    min-height: 95%;
  }
  
  .hot {
    color: #bf4aa8;
  }

  #main-form {
    background-image: linear-gradient(#ffffff, #e5eeee);
  }

  .form-control {
      font-size: 18px;
  }

  .error-form {
    font-size: 22px;
    color: red;
  }

  #submit {
    border: none;
    width: auto;
    overflow: visible;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 16px;
    background-image: linear-gradient(#bf4aa8, #ad4198);
    padding: 8px;
    border-radius: .2em;
    color: #ddd4d4;
    font-size: 20px;
    font-weight: bold;
  }

  
  @media only screen and (max-width: 1000px) {
    .form-control {
        font-size: 24px;
    }
  
    .error-form {
      font-size: 20px;
      color: red;
    }
    h1 {
        font-size: 38px;
    }
  }

  @media only screen and (max-width: 768px) {
    .form-control {
        font-size: 22px;
    }
  
    .error-form {
      font-size: 18px;
      color: red;
    }
    h1 {
        font-size: 35px;
    }
  }
